docs/\[Backend] Case de Código.pdf
docs/\[SÊNIOR] System Design.pdf
docs/Como Funciona um Processo de System Design Interview e Como Se Preparar.pdf
cmd.exe
docs_internal/\[Backend] Case de Código.pdf
docs_internal/\[SÊNIOR] System Design.pdf
docs_internal/Como Funciona um Processo de System Design Interview e Como Se Preparar.pdf
# Ignore all .exe files
*.exe
cmd/.env
cmd/.env
