<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Simulation</title>
</head>
<body>
    <h1>Loan Simulation</h1>
    <p><strong>Amount to be Paid:</strong> {{printf "%.2f" .AmountTobePaid}}</p>
    <p><strong>Amount Fee to be Paid:</strong> {{printf "%.2f" .AmountFeeTobePaid}}</p>
    <p><strong>Simulation Date:</strong> {{.SimulationDate}}</p>
    <p><strong>Currency:</strong> {{.Currency}}</p>
    <p><strong>Email:</strong> {{.Email}}</p>
    <h2>Installments:</h2>
    <ul>
        {{range .Installments}}
        <li>
            <strong>Installment Number:</strong> {{.InstallmentNumber}}<br>
            <strong>Installment Amount:</strong> {{printf "%.2f" .InstallmentAmount}}<br>
            <strong>Installment Fee Amount:</strong> {{printf "%.2f" .InstallmentFeeAmount}}<br>
            <strong>Currency:</strong> {{.Currency}}
        </li>
        {{end}}
    </ul>
</body>
</html>
